.bg-duckface {
    background-color: #4f4f4f;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #f9ce54;
}

.navbar-toggler-icon {
    color: white;
    background-color: wheat;
}

.bi-list {
    color: white;
}

.navbar-toggler-icon {
    color: #f9ce54;
    border: none;
}

.accordion-body{
    background-color: #4f4f4f; 
}

.accordion-button:not(.collapsed) {
    background-color: #212529;
    color: #f9ce54;
}

.accordion-button:is(.collapsed) {
    background-color: #212529;
    color: white;
}

.header-image {
position: relative;
}

.header-image > img, .overlay-text {
    position:absolute;
    margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #f9ce54;
    box-shadow: 0 0 0 0.25rem rgb( 249 206 84 / 25%);
}

.accordion-button::after, .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f9ce54'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

@media (min-width: 992px) {
    .image-lg {
        width: 50%;
    }  
}